@model APT615.Models.ApartmentAmenity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApartmentAmenity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amenitiz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amenitiz.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apartment.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApartAmenityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
